<!-- Display GoatCounter pageviews -->
<script>
  let pv = document.getElementById('pageviews');

  if (pv !== null) {
    const uri = location.pathname.replace(/\/$/, '');
    {% comment %} Prevent request caching {% endcomment %}
    const uniqueParam = `timestamp=${new Date().toISOString()}`;
    const url = `https://{{ site.analytics.goatcounter.id }}.goatcounter.com/counter/${encodeURIComponent(
      uri
    )}.json?${uniqueParam}`;

    fetch(url)
      .then((response) => response.json())
      .then((data) => {
        const count = data.count.replace(/\s/g, '');
        pv.innerText = new Intl.NumberFormat().format(count);
      })
      .catch((error) => {
        pv.innerText = '1';
      });
  }
</script>
