/*
 * Theme styles
 */

// Use blue accent color
#access-lastmod a:hover {
  color: #007bff !important;
  border-bottom: 1px solid #007bff;
}

// Use single line post title
#post-list .card .card-body .card-title {
  -webkit-line-clamp: 1;
}
